{% extends "base.html" %}

{% block main %}
    <main class="new_task_box">
    
    <!-- <link rel="stylesheet" type="text/css" href="Style_sheet.css"/>     -->
        <aside> 
            <br>
            &nbsp &nbsp Місто
            &nbsp &nbsp &nbsp &nbsp <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <input list="brow">
            <datalist id="brow" class="desk">
            <option value="Львів">
            <option value="Київ">
            <option value="Харків">
            <option value="Одеса">
            <option value="Чернівці">
            </datalist>  

            <br>
            <hr size="1" noshade color="#F9CDCD"> 
            <form action="" methods=""> 
                &nbsp &nbsp Отримувач</br></br>
                <label class="container">Контейнер
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Організація
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </form>
            <hr size="1" noshade color="#F9CDCD"> 
            
            <form action="" methods=""> 
                &nbsp &nbsp Організація</br></br>
                <label class="container">Дитячий будинок
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <label class="container">Притулок для тварин
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <label class="container">Благодійна Організація
                <input type="checkbox">
                <span class="checkmark"></span>
                </label>

                <label class="container">Інше
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </form>
            <hr size="1" noshade color="#F9CDCD"> 
            
            <form action="" methods=""> 
                &nbsp &nbsp  Пожертва</br></br>
                <label class="container">Одяг
                <input type="checkbox">
                <span class="checkmark"></span>
                </label>
                
                <label class="container">Гроші
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                
                <label class="container">Їжа
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

            </form>
            <hr size="1" noshade color="#F9CDCD"> 
            
        
        </aside>
        
        
        <map>
        <p> Пункти прийняття пожертв: </p>
        <iframe frameboarder="1" height="900" width="900" src="Map.jpg" name="ouriframe" id="ouriframe">
        
        </iframe> </br>
        </map>
        
    </main>
{% endblock %}