<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style_header.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=EB+Garamond" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>DCS Flask wp</title>
</head>
<body>
   <header>
       <a>
           <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/hvalue-310c1.appspot.com/o/mockups%2Flogo.png?alt=media&token=eea1b2b7-1eca-43bb-b9ff-93a9a9dcdddd"
                alt="logo"
                aria-label="Logo picture of H-Value organization">
       </a>
       <div class="profile_info">
           <p class="profile_info__name"> {{ name }} </p>
           <details>
               <summary>
                   {% if user_info and user_info.profile_img_link %}
                       <img class="user_info__photo"
                            src="{{ user_info.profile_img_link }}"
                            alt="Profile photo."
                            aria-label="Profile photo"/>
                   {% else %}
                       <i class="material-icons person-64 profile_info__icon"
                          aria-label="Default profile icon"> person </i>
                   {% endif %}
               </summary>
               <nav>
                   <ul>
                       <li> <a href="#"> exit </a> </li>
                   </ul>
               </nav>
           </details>
       </div>
   </header>

    <main class="login_centred_box">
        <h1> Log in:</h1>

        <form action="{{ url_for('login.login') }}" method="POST">
            <input name="name"
                   type="text"
                   placeholder="user name"
                   aria-label="user name"
                   autocomplete="off"/>
            <input name="password"  type="password" placeholder="password"  aria-label="password" />
            <button type="submit" aria-label="Next"> Log in </button>
        </form>
        <a href = "{{ url_for('registration.registration') }}">Sign up</a>
        {% if error %}
        <label class=error><strong>Error:</strong> {{ error }}</label>
        {% endif %}
    </main>
</body>

</html>