{% extends "base.html" %}

{% block main %}
    <main class="login_centred_box">
        <h1> Log in:</h1>

        <form action="{{ url_for('login.login') }}" method="POST">
            <input name="name"
                   type="text"
                   placeholder="user name"
                   aria-label="user name"
                   autocomplete="off"/>
            <input name="password"  type="password" placeholder="password"  aria-label="password" />
            <button type="submit" aria-label="Next"> Log in </button>
        </form>
        <a href = "{{ url_for('registration.registration') }}">Sign up</a>
        {% if error %}
        <label class=error><strong>Error:</strong> {{ error }}</label>
        {% endif %}
    </main>
{% endblock %}