.content{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

.sign_in_up{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 50px;

}

.main_image{
    max-width: 55%;
    height: auto;
    width: auto;
}

.main{
    padding: 50px 50px 20px 70px;
    align-items: flex-start;

}

.logo{
    width: 250px;
}

.sign_in_up-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form_item{
    font-size: 1.2em;
    margin: 5px;
}

button{
    background-color: var(--dark-violet);
    color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    width: 100px;
    border-color: var(--dark-violet);
}

.sign_up_in-link{
    font-size: 1.1em;
}

.column {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    padding: 2%;
    /*margin: 0px 0px -22px 0px;*/
    flex-basis: 100%;
    flex: 1
}

select#organization {
    width: 15.5rem;
    height: 1.75rem;
    margin: 0.1rem 0;
    background-color: white;
    font-size: larger;
}